<igx-navbar class="landing-page-navigation">
  <igx-navbar-title class="navbar-content">
    <div class="row-layout site-logo-row">
      <igx-icon class="site-icon">
        music_note
      </igx-icon>
      <h6 class="content_4">
        My Music App
      </h6>
    </div>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      How it Works
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      Features
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      Pricing
    </button>
    <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
      FAQ
    </button>
  </igx-navbar-title>
  <button igxIconButton="flat" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
    Sign Up
  </button>
  <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
    Login
  </button>
</igx-navbar>
<div class="row-layout hero-section">
  <div class="row-layout hero-section-container">
    <div class="column-layout hero-section-content">
      <h2 class="content">
        Your World, My Voice
      </h2>
      <h6 class="hero-subtitle">
        Experience the Emotion of My Music.
      </h6>
      <div class="column-layout hero-actions">
        <div class="row-layout hero-buttons">
          <button igxButton="contained" type="button" igxRipple class="download-i-os-button">
            Download iOS
          </button>
          <button igxButton="outlined" type="button" igxRipple class="download-i-os-button">
            Download Android
          </button>
        </div>
        <p class="ig-typography__body-2 content_5">
          Download my tracks and feel the rhythm!
        </p>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%2050e816d4-cf80-4c96-8a86-0b4cf174f94e-a4d1f1a0-96c0-42f7-b72b-542e01ea2196.png" class="hero-image" />
  </div>
</div>
<div class="row-layout features-section">
  <div class="column-layout features-section-container">
    <div class="column-layout features-section-header">
      <h4 class="content_3">
        My Musical Styles
      </h4>
      <h6 class="features-subtitle">
        Dive into the diverse genres I love to perform.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <igx-avatar shape="circle" class="icon-pop icon-pop_1">
              <igx-icon class="icon">
                piano
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Pop Anthems
            </h6>
            <p class="content_4">
              Catchy melodies and powerful vocals.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <igx-avatar shape="circle" class="icon-pop icon-pop_2">
              <igx-icon class="icon">
                mic
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Soulful Ballads
            </h6>
            <p class="content_4">
              Heartfelt lyrics and soothing harmonies.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <igx-avatar shape="circle" class="icon-pop icon-pop_3">
              <igx-icon class="icon">
                queue_music
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Acoustic Covers
            </h6>
            <p class="content_4">
              Unique interpretations of your favorite songs.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="flat" type="button" igxRipple class="how-it-works-button">
              <span>Learn more</span>
              <igx-icon>
                arrow_right_alt
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout testimonials-section">
  <div class="column-layout features-section-container">
    <div class="column-layout features-section-header">
      <h4 class="content_3">
        What People Say
      </h4>
      <h6 class="features-subtitle">
        Hear from my amazing listeners.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="testimonial-card-john">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <p class="content_4">
              Her voice is absolutely captivating!
            </p>
            <igc-rating [(ngModel)]="ngModel" class="rating-john"></igc-rating>
            <div class="row-layout user-info-john">
              <igx-avatar initials="JS" shape="circle" class="user-avatar-john user-avatar-john_1"></igx-avatar>
              <div class="column-layout user-details-john">
                <p class="ig-typography__subtitle-2 content_4">
                  John S.
                </p>
                <p class="ig-typography__body-2 content_4">
                  New York
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="testimonial-card-john">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <p class="content_4">
              Every song tells a story, truly inspiring.
            </p>
            <igc-rating [(ngModel)]="ngModel1" class="rating-john"></igc-rating>
            <div class="row-layout user-info-john">
              <igx-avatar initials="MS" shape="circle" class="user-avatar-john user-avatar-john_2"></igx-avatar>
              <div class="column-layout user-details-john">
                <p class="ig-typography__subtitle-2 content_4">
                  Maria S.
                </p>
                <p class="ig-typography__body-2 content_4">
                  London
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="testimonial-card-john">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout column-layout-pop">
            <p class="content_4">
              Can't stop listening, pure talent!
            </p>
            <igc-rating [(ngModel)]="ngModel2" class="rating-john"></igc-rating>
            <div class="row-layout user-info-john">
              <igx-avatar initials="RL" shape="circle" class="user-avatar-john user-avatar-john_3"></igx-avatar>
              <div class="column-layout user-details-john">
                <p class="ig-typography__subtitle-2 content_4">
                  Robert L.
                </p>
                <p class="ig-typography__body-2 content_4">
                  Paris
                </p>
              </div>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout secondary-call-to-action-section">
  <div class="row-reverse-layout hero-section-container">
    <div class="column-layout hero-section-content">
      <h4 class="content_1">
        Ready to Listen?
      </h4>
      <h6 class="content_1">
        Explore my full collection and download your favorites today!
      </h6>
      <div class="column-layout secondary-call-to-action-buttons">
        <div class="row-layout secondary-call-to-action-button-group">
          <button igxButton="contained" type="button" igxRipple class="start-listening-button">
            Start Listening
          </button>
          <button igxButton="flat" type="button" igxRipple class="download-all-tracks-button">
            Download All Tracks
          </button>
        </div>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%200a2015f5-c812-40ad-8892-ea044ce2117c-c560f3d5-6152-4758-a03f-a7aa59d2fcb0.png" class="hero-image" />
  </div>
</div>
<div class="row-layout features-section">
  <div class="column-layout features-section-container">
    <div class="column-layout features-section-header">
      <h4 class="content_3">
        Support My Music
      </h4>
      <h6 class="features-subtitle">
        Choose the plan that's right for you.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons">
            <div class="column-layout features-section-header">
              <igx-avatar shape="circle" class="icon-pop icon-pop_4">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout user-info-john">
                <h5 class="content_3">
                  Free Listener
                </h5>
                <h2 class="plan-price-free">
                  $0
                </h2>
              </div>
            </div>
            <p class="plan-attribute-free">
              Access to select tracks.
            </p>
            <igx-list class="list-free">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar-list-item-free avatar-list-item-free_1">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Listen to singles</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Get Started
            </button>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons">
            <div class="column-layout features-section-header">
              <igx-avatar shape="circle" class="icon-pop icon-pop_5">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout user-info-john">
                <h5 class="content_3">
                  Premium Fan
                </h5>
                <h2 class="plan-price-free">
                  $9.99/month
                </h2>
              </div>
            </div>
            <p class="plan-attribute-free">
              Unlimited downloads and exclusive content.
            </p>
            <igx-list class="list-free">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar-list-item-free avatar-list-item-free_2">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Download all tracks</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Subscribe Now
            </button>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="feature-card-pop">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout hero-buttons">
            <div class="column-layout features-section-header">
              <igx-avatar shape="circle" class="icon-pop icon-pop_6">
                <igx-icon class="icon">
                  av_timer
                </igx-icon>
              </igx-avatar>
              <div class="column-layout user-info-john">
                <h5 class="content_3">
                  VIP Supporter
                </h5>
                <h2 class="plan-price-free">
                  $99.99/year
                </h2>
              </div>
            </div>
            <p class="plan-attribute-free">
              All premium benefits plus early access.
            </p>
            <igx-list class="list-free">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar-list-item-free avatar-list-item-free_3">
                    <igx-icon class="icon_1">
                      check
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Early access to new releases</span>
              </igx-list-item>
            </igx-list>
            <button igxButton="contained" type="button" igxRipple class="how-it-works-button">
              Become a VIP
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout testimonials-section">
  <div class="column-layout features-section-container">
    <div class="column-layout features-section-header">
      <h4 class="content_3">
        Frequently Asked Questions
      </h4>
      <h6 class="features-subtitle">
        Find answers to common questions about my music and services.
      </h6>
    </div>
    <igx-accordion [singleBranchExpand]="true" class="faq-accordion">
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            You can download my music directly from the 'Start Listening' or 'Download All Tracks' buttons, or through the premium subscription.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>How can I download your music?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            Yes, I do! Please check my social media for upcoming events and booking inquiries.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Do you offer live performances?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content_4">
            For licensing inquiries, please contact me directly through the 'Contact Us' link in the footer.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Can I use your music in my projects?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </igx-accordion>
  </div>
</div>
<div class="column-layout footer-section">
  <div class="row-layout footer-content-row">
    <div class="row-layout footer-links-row">
      <div class="column-layout company-info-column">
        <div class="row-layout company-logo-row">
          <igx-icon class="site-icon">
            music_note
          </igx-icon>
          <p class="ig-typography__subtitle-2 content_4">
            My Music App
          </p>
        </div>
        <p class="ig-typography__body-2 content_5">
          ZipGo: Your City, On Demand.
        </p>
        <div class="row-layout social-media-row">
          <igx-icon family="imx-icon" name="imx-twitter" class="twitter-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-facebook" class="twitter-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-instagram" class="twitter-icon"></igx-icon>
        </div>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Quick Links
        </p>
        <a target="_blank" class="ig-typography__body-2 content_5">
          My Profile
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Music Styles
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Downloads
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Contact
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Legal
        </p>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Terms of Use
        </a>
        <a target="_blank" class="ig-typography__body-2 content_5">
          Privacy Policy
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content_4">
          Contact Us
        </p>
        <div class="row-layout customer-support-row">
          <igx-icon class="customer-support-icon">
            mail_outline
          </igx-icon>
          <a target="_blank" class="ig-typography__body-2 customer-support-link">
            Customer Support
          </a>
        </div>
        <div class="row-layout customer-support-row">
          <igx-icon class="customer-support-icon">
            phone
          </igx-icon>
          <p class="ig-typography__body-2 content_5">
            +598 99 123 456
          </p>
        </div>
        <div class="row-layout customer-support-row">
          <igx-icon class="customer-support-icon">
            business
          </igx-icon>
          <p class="ig-typography__body-2 content_5">
            1234 Central St., Montevideo UY
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout copyright-row">
    <p class="ig-typography__body-2 content_5">
      © 2025 My Music App - All Rights Reserved
    </p>
  </div>
</div>
